<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Kickerturnier.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".png" />
      <mimeMap fileExtension=".png" mimeType="image/png" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:05:00" />
    </staticContent>
    <directoryBrowse enabled="false" />
    <security>
      <requestFiltering>
        <fileExtensions>
          <add fileExtension=".csv" allowed="false" />
        </fileExtensions>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
